[Desktop Entry]
Version=1.0
Type=Application
Name=DePara
Comment=Gerenciador de Arquivos e Operacoes
Exec=__DEPARA_DIR__/start-depara.sh open
Icon=depara
Terminal=false
StartupNotify=true
Categories=Utility;FileManager;
Keywords=files;manager;sync;backup;
StartupWMClass=DePara
