[Desktop Entry]
Version=1.0
Type=Application
Name=DePara
Comment=Gerenciador de Arquivos e Operações
Exec=/home/yo/DePara/start-depara.sh open
Icon=/home/yo/DePara/src/public/favicon.ico
Terminal=false
StartupNotify=true
Categories=Utility;FileManager;
Keywords=files;manager;sync;backup;
StartupWMClass=DePara
MimeType=inode/directory;
